# Control Structures and Data Frames

## PETE 2061 Lab 4 Workbook 

## THIS IS DUE BY 11:59 PM ON SUNDAY (Sept 22, 2019)

<a id='top'></a>

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

https://github.com/Cole-Train/PETE-2061

2. It is commonly said that one human year is equivalent to 7 dog years. However, this simple conversion fails to recognize that dogs reach adulthood in approximately two years. As a result, some people believe that it is better to count each of the first two human years as 10.5 dog years, and then count each additional human year as 4 dog
years. <br>
Write a program that implements the conversion from human years to dog years described in the previous paragraph. Ensure that your program works correctly for conversions of less than two human years and for conversions of two or more human years. Your program should generate a random number between 0 and 10. <br>
Hints: <br>
a. Remember that you can generate a random number between 0 and 1 using the function numpy.random.random(1)<br>
b. You can scale this random number to go from 0 to 10 by multiplying it by 10<br>
c. At this point what you have is a random floating-point number that goes from 0 to 10. You need to convert this floating-point number to an integer using the int() function.

In [ ]:
import numpy as np

a=int((np.random.random(1))*10)
print(a)
if a < 2: 
    print(a*10.5)
else:
    print (21+((a-2)*4))

3. For Students A through J, generate 10 different random numbers between 0 and 100. Create a dataframe to store the student names in the first column (called "Name"), and store the scores in the second column called "Score".
   Print out the mean, standard deviation and maximum of the scores, as well as the index of the student with this maximum score.

In [18]:
import pandas as pd
import numpy as np
from numpy.random import randn
myIndex = 'A B C D E F G H I J'
df= pd.DataFrame((np.random.randint(low=0, high= 100, size= (10))),index='A B C D E F G H I J' .split(),columns='Scores'.split())
df

   Scores
A      39
B      84
C      50
D       0
E      17
F      87
G      62
H      54
I      44
J      83

In [20]:
df.describe()

          Scores
count  10.000000
mean   52.000000
std    28.828998
min     0.000000
25%    40.250000
50%    52.000000
75%    77.750000
max    87.000000

In [7]:
a=2
if a ==1:
    print ("1")
elif a==3:
    print ("2")
elif a==2:
    print ("yes")

yes

4. Write a program that begins by reading a score in percentage (%) from the user. Then your program should compute and display the equivalent letter grade. Ensure that your program generates an appropriate error message if the user enters an invalid score.
Use the grading scale on your syllabus. These scores are typed in below.

In [11]:
letterGrade = ['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-']
scores = [97,93,90,87,83,80,77,73,70,67,63,60]
# A score of less than 60 gets a letter grade of F
Score=    #put score to left of this line <-
if Score<0:
    print ("invalid")
elif Score<60: 
    print ("F")
elif Score<63:
    print ("D-")
elif Score <67:
    print ("D")
elif Score < 70:
    print("D+")
elif Score < 73:
    print ("C-")
elif Score < 77:
    print("C")
elif Score < 80:
    print ("C+")
elif Score < 83:
    print ("B-")
elif Score < 87:
    print ("B")
elif Score < 90:
    print ("B+")
elif Score < 93:
    print ("A-")
elif Score < 97:
    print ("A")
elif Score <100:
    print ("A+")
elif Score > 100:
    print ("invalid")

C+

5. Write a program that generates 10 random integers, and then prints the largest odd number that was entered. If no odd number was entered it should print a message to that effect. <br>
Hints: <br>
    a. Use pseudo-code. <br>
    b. Generate a random number using the code below:<br>
    myRandInt = np.random.randint(low=1, high=20, size=10)<br>
    c. Initialize an empty list to contain the odd numbers. Name this list oddInt <br>
    d. Within your for loop, you can append odd numbers to this empty list using the append function. eg: <br>
    oddInt.append("The current odd number from the list should be put in here!")

In [21]:
import numpy as np
theRandInt = np.random.randint(low=1, high=20, size=10)
OddInt=[]                              
for x in theRandInt:
    if not (x % 2)==0:
        OddInt.append(x) 
    print(OddInt)
    print(max(OddInt))
if (OddInt) ==0:
    print("an odd integer should not exist")

[9]
9
[9, 19]
19
[9, 19, 9]
19
[9, 19, 9, 13]
19
[9, 19, 9, 13]
19
[9, 19, 9, 13, 13]
19
[9, 19, 9, 13, 13]
19
[9, 19, 9, 13, 13, 17]
19
[9, 19, 9, 13, 13, 17, 7]
19
[9, 19, 9, 13, 13, 17, 7]
19